IO_LOC "clk_50mhz" V22;
IO_PORT "clk_50mhz" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "tmds_d_p[0]" J14,H14;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" J15,H15;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" K17,J17;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" G15,G16;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC "dvi_a_psv" K14;
IO_PORT "dvi_a_psv" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dvi_a_hpd" K13;
IO_PORT "dvi_a_hpd" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "dvi_ddc_clk" M13;
IO_PORT "dvi_ddc_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dvi_ddc_dat" L13;
IO_PORT "dvi_ddc_dat" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
