//Copyright (C)2014-2026 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.02_SP1 (64-bit))
//Part Number: GW5AST-LV138PG484AC1/I0
//Device: GW5AST-138
//Device Version: C
//Created Time: Fri 04 03 19:15:49 2026

IO_LOC  "ddr_bank[2]"   M6;
IO_PORT "ddr_bank[2]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_bank[1]"   P2;
IO_PORT "ddr_bank[1]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_bank[0]"   P5;
IO_PORT "ddr_bank[0]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

//IO_LOC  "ddr_addr[15]"  R1;
//IO_PORT "ddr_addr[15]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[14]"  D1;
IO_PORT "ddr_addr[14]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[13]"  K1;
IO_PORT "ddr_addr[13]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[12]"  K4;
IO_PORT "ddr_addr[12]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[11]"  H3;
IO_PORT "ddr_addr[11]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[10]"  L1;
IO_PORT "ddr_addr[10]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[9]"   H5;
IO_PORT "ddr_addr[9]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[8]"   J5;
IO_PORT "ddr_addr[8]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[7]"   J1;
IO_PORT "ddr_addr[7]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[6]"   G3;
IO_PORT "ddr_addr[6]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[5]"   H2;
IO_PORT "ddr_addr[5]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[4]"   J2;
IO_PORT "ddr_addr[4]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[3]"   J4;
IO_PORT "ddr_addr[3]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[2]"   G2;
IO_PORT "ddr_addr[2]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[1]"   K2;
IO_PORT "ddr_addr[1]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_addr[0]"   M1;
IO_PORT "ddr_addr[0]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC  "ddr_odt"       M2;
IO_PORT "ddr_odt"       IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_cke"       K6;
IO_PORT "ddr_cke"       IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_we"        M5;
IO_PORT "ddr_we"        IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_cas"       L4;
IO_PORT "ddr_cas"       IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_ras"       L5;
IO_PORT "ddr_ras"       IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_cs"        P4;
IO_PORT "ddr_cs"        IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_reset_n"   L6;
IO_PORT "ddr_reset_n"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_ck"        L3,K3;
IO_PORT "ddr_ck"        IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm[3]"     W1;
IO_PORT "ddr_dm[3]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm[2]"     T6;
IO_PORT "ddr_dm[2]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm[1]"     V7;
IO_PORT "ddr_dm[1]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm[0]"     AA4;
IO_PORT "ddr_dm[0]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC  "ddr_dq[31]"    Y2;
IO_PORT "ddr_dq[31]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[30]"    U1;
IO_PORT "ddr_dq[30]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[29]"    V2;
IO_PORT "ddr_dq[29]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[28]"    U2;
IO_PORT "ddr_dq[28]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[27]"    U3;
IO_PORT "ddr_dq[27]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[26]"    T1;
IO_PORT "ddr_dq[26]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[25]"    Y1;
IO_PORT "ddr_dq[25]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[24]"    W2;
IO_PORT "ddr_dq[24]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[23]"    T5;
IO_PORT "ddr_dq[23]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[22]"    V5;
IO_PORT "ddr_dq[22]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[21]"    T4;
IO_PORT "ddr_dq[21]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[20]"    Y6;
IO_PORT "ddr_dq[20]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[19]"    R4;
IO_PORT "ddr_dq[19]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[18]"    U6;
IO_PORT "ddr_dq[18]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[17]"    R6;
IO_PORT "ddr_dq[17]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[16]"    U5;
IO_PORT "ddr_dq[16]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[15]"    Y9;
IO_PORT "ddr_dq[15]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[14]"    AB6;
IO_PORT "ddr_dq[14]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[13]"    W9;
IO_PORT "ddr_dq[13]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[12]"    AB8;
IO_PORT "ddr_dq[12]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[11]"    Y7;
IO_PORT "ddr_dq[11]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[10]"    AB7;
IO_PORT "ddr_dq[10]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[9]"     Y8;
IO_PORT "ddr_dq[9]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[8]"     AA8;
IO_PORT "ddr_dq[8]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[7]"     AB1;
IO_PORT "ddr_dq[7]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[6]"     AB5;
IO_PORT "ddr_dq[6]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[5]"     AB2;
IO_PORT "ddr_dq[5]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[4]"     AA1;
IO_PORT "ddr_dq[4]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[3]"     V4;
IO_PORT "ddr_dq[3]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[2]"     AA5;
IO_PORT "ddr_dq[2]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[1]"     AB3;
IO_PORT "ddr_dq[1]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[0]"     Y4;
IO_PORT "ddr_dq[0]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC  "ddr_dqs[3]"    R3,R2;
IO_PORT "ddr_dqs[3]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs[2]"    W6,W5;
IO_PORT "ddr_dqs[2]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs[1]"    V9,V8;
IO_PORT "ddr_dqs[1]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs[0]"    Y3,AA3;
IO_PORT "ddr_dqs[0]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC  "uart_tx" U15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "uart_rx" V14;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;


// -------------------------------------------------------------------------
// Tang Mega 138K board-level I/O, from Sipeed TangMega-138K examples.
// -------------------------------------------------------------------------
IO_LOC "clk_50mhz" V22;
IO_PORT "clk_50mhz" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// HDMI output 0 (Sipeed hdmi_colorbar example).
IO_LOC "tmds_d_p[0]" J14,H14;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" J15,H15;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" K17,J17;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" G15,G16;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

// Tang Console HDMI side-band pins.
IO_LOC "dvi_a_psv" K14;
IO_PORT "dvi_a_psv" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dvi_a_hpd" K13;
IO_PORT "dvi_a_hpd" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "dvi_ddc_clk" M13;
IO_PORT "dvi_ddc_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dvi_ddc_dat" L13;
IO_PORT "dvi_ddc_dat" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// On-board TF slot, full pinout confirmed against nand2mario's 486tang/NESTang
// console.cst (Tang Console 138K): CLK=V15 CMD=Y16 DAT0=AA15 DAT1=AB15
// DAT2=W14 DAT3=W15. sd_ncs is the SPI chip select = DAT3.
IO_LOC "sd_dclk" V15;
IO_PORT "sd_dclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd_miso" AA15;
IO_PORT "sd_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sd_mosi" Y16;
IO_PORT "sd_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd_ncs" W15;
IO_PORT "sd_ncs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// Tang Console SDRAM0 connector (near PCIe connector), 16-bit SDRAM bus.
// The connector exposes EXIO0/EXIO1 but no explicit CKE net in the console
// schematic; the controller's CKE output is intentionally not constrained here.
IO_LOC "sdram0_clk" B17;
IO_PORT "sdram0_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// F19 is the Mega-60K location; on the Tang Console 138K CS is F21
// (486tang/NESTang console.cst).
IO_LOC "sdram0_cs_n" F21;
IO_PORT "sdram0_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_ras_n" F16;
IO_PORT "sdram0_ras_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_cas_n" E17;
IO_PORT "sdram0_cas_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_we_n" D16;
IO_PORT "sdram0_we_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_ba[0]" F15;
IO_PORT "sdram0_ba[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_ba[1]" C20;
IO_PORT "sdram0_ba[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[0]" D19;
IO_PORT "sdram0_addr[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[1]" E19;
IO_PORT "sdram0_addr[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[2]" C19;
IO_PORT "sdram0_addr[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[3]" C18;
IO_PORT "sdram0_addr[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[4]" E16;
IO_PORT "sdram0_addr[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[5]" D15;
IO_PORT "sdram0_addr[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[6]" D14;
IO_PORT "sdram0_addr[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[7]" A19;
IO_PORT "sdram0_addr[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[8]" A18;
IO_PORT "sdram0_addr[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[9]" C17;
IO_PORT "sdram0_addr[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[10]" D20;
IO_PORT "sdram0_addr[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[11]" D17;
IO_PORT "sdram0_addr[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_addr[12]" B18;
IO_PORT "sdram0_addr[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dqm[0]" F14;
IO_PORT "sdram0_dqm[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dqm[1]" F13;
IO_PORT "sdram0_dqm[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[0]" E14;
IO_PORT "sdram0_dq[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[1]" E13;
IO_PORT "sdram0_dq[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[2]" C15;
IO_PORT "sdram0_dq[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[3]" C14;
IO_PORT "sdram0_dq[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[4]" B13;
IO_PORT "sdram0_dq[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[5]" C13;
IO_PORT "sdram0_dq[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[6]" A14;
IO_PORT "sdram0_dq[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[7]" A13;
IO_PORT "sdram0_dq[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[8]" B21;
IO_PORT "sdram0_dq[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[9]" A21;
IO_PORT "sdram0_dq[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[10]" B20;
IO_PORT "sdram0_dq[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[11]" A20;
IO_PORT "sdram0_dq[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[12]" A15;
IO_PORT "sdram0_dq[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[13]" A16;
IO_PORT "sdram0_dq[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[14]" B15;
IO_PORT "sdram0_dq[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdram0_dq[15]" B16;
IO_PORT "sdram0_dq[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// Buttons: F4 is the reset button in Sipeed examples, in a 1.5 V DDR bank.
// key[0] is treated as active-low in the top level, so it must idle high.
// key[1] is routed to a 3.3 V GPIO header pin for an external monitor button.
IO_LOC "key[0]" F4;
IO_PORT "key[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC "key[1]" P16;
IO_PORT "key[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Diagnostic outputs on free Tang Console PMOD0/LCD-DPI GPIOs. The old
// P19/R19/T21/U21 LED locations are dedicated CPU/SSPI pins in this package.
IO_LOC "led[0]" N18;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[1]" N19;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[2]" M18;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[3]" L18;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// PS/2 keyboard and second SD-card SPI on spare 3.3 V GPIO header pins.
IO_LOC "ps2_clk" R17;
IO_PORT "ps2_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ps2_data" R18;
IO_PORT "ps2_data" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Tang Console USB-A HID port 0, from Sipeed usb_hid_host_138k example.
// Low-speed USB bit-bang host: D+ / D- are bidirectional GPIOs.
// Disabled for the safe no-USB build: the last USB bring-up attempt made HDMI
// fail and the FPGA ran hot. Re-enable only together with a verified USB top.
//IO_LOC "usb_dp" H13;
//IO_PORT "usb_dp" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "usb_dm" G13;
//IO_PORT "usb_dm" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "sd2_dclk" T18;
IO_PORT "sd2_dclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd2_ncs" Y21;
IO_PORT "sd2_ncs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd2_mosi" Y22;
IO_PORT "sd2_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd2_miso" AB21;
IO_PORT "sd2_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// I2S/PT8211-style audio pins from Sipeed audio_i2s example.
IO_LOC "pa_en" AB16;
IO_PORT "pa_en" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_din" AA16;
IO_PORT "dac_din" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_ws" AB17;
IO_PORT "dac_ws" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dac_bck" Y17;
IO_PORT "dac_bck" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// DDR3 placement constraints -- active again since USE_DDR3 defaults to true
// (DDR3 + SDRAM0 framebuffer backends coexist, runtime-selected via $9007).
INS_LOC "hdmi_i/pll_i/PLL_inst" PLL_B[2];
INS_LOC "ddr_backend_g.ddr_mem_pll_i/u_pll/PLL_inst" PLL_L[0];
INS_LOC "ddr_backend_g.ddr3_ip_i/gw3_top/u_ddr_phy_top/u_dll" DDRDLLM_BL;
INS_LOC "ddr_backend_g.ddr3_ip_i/gw3_top/u_ddr_phy_top/fclkdiv" LEFTSIDE[4];
