CONFIG_32BIT=y
CONFIG_ARCH_RV32I=y
CONFIG_NONPORTABLE=y
CONFIG_MMU=y
CONFIG_SMP=n
CONFIG_RISCV_SBI=y
CONFIG_FPU=n
CONFIG_RISCV_ISA_C=n
CONFIG_RISCV_ISA_V=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_HZ_100=y
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_EARLY_PRINTK=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_MODULES=n
CONFIG_BLOCK=y
CONFIG_SWAP=y
CONFIG_GORV32_SD=y
CONFIG_EXT2_FS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DEVMEM=y
CONFIG_BINFMT_ELF=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_UNIX98_PTYS=y
CONFIG_MULTIUSER=y
CONFIG_NET=n
CONFIG_SOUND=n
CONFIG_DRM=n
# No framebuffer: the HDMI console is the FPGA hardware text mode
# (drivers/video/console/s16text_con.c) driving the VT layer directly.
CONFIG_FB=n
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_DUMMY_CONSOLE=y
CONFIG_SYS16_TEXTCON=y
CONFIG_LEGACY_TIOCSTI=y
CONFIG_INPUT=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_GORV32_USB_HID=y
CONFIG_USB_SUPPORT=n
CONFIG_PCI=n
CONFIG_AIO=n
CONFIG_IO_URING=n
CONFIG_KALLSYMS=n
CONFIG_COREDUMP=n
CONFIG_ELF_CORE=n
CONFIG_DEBUG_KERNEL=n
CONFIG_EXPERT=y
CONFIG_EMBEDDED=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
