CONFIG_32BIT=y
CONFIG_ARCH_RV32I=y
CONFIG_NONPORTABLE=y
CONFIG_MMU=y
CONFIG_SMP=n
CONFIG_RISCV_SBI=y
CONFIG_FPU=n
CONFIG_RISCV_ISA_C=n
CONFIG_RISCV_ISA_V=n
CONFIG_RISCV_ISA_ZICBOM=n
CONFIG_RISCV_ISA_ZICBOZ=n
CONFIG_HZ_100=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_INITRAMFS_COMPRESSION_GZIP=y
CONFIG_INITRAMFS_SOURCE="/home/rudolf/buildroot-2025.02/output/images/rootfs.cpio"
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_EARLY_PRINTK=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_MODULES=n
CONFIG_NET=n
CONFIG_SOUND=n
CONFIG_DRM=n
CONFIG_VT=n
CONFIG_INPUT=n
CONFIG_USB_SUPPORT=n
CONFIG_PCI=n
CONFIG_EXT4_FS=n
CONFIG_BLOCK=n
CONFIG_BINFMT_ELF=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DEVMEM=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_UNIX98_PTYS=n
CONFIG_MULTIUSER=n
CONFIG_AIO=n
CONFIG_IO_URING=n
CONFIG_KALLSYMS=n
CONFIG_COREDUMP=n
CONFIG_ELF_CORE=n
CONFIG_DEBUG_KERNEL=n
CONFIG_EXPERT=y
CONFIG_EMBEDDED=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
