// Tang Console 138K / GW5AST-LV138PG484AC1/I0
// AE350 ITCM/DTCM UART bring-up; no external flash or DDR3 pins are used.

IO_LOC "clk_50mhz" V22;
IO_PORT "clk_50mhz" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "reset_n" F4;
IO_PORT "reset_n" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

IO_LOC "uart_tx" U15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_rx" V14;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "jtag_tms" T13;
IO_PORT "jtag_tms" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "jtag_tck" V12;
IO_PORT "jtag_tck" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "jtag_tdi" R13;
IO_PORT "jtag_tdi" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "jtag_tdo" U13;
IO_PORT "jtag_tdo" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

INS_LOC "u_Gowin_PLL_AE350_ITCM/u_pll/PLL_inst" PLL_R[0];
