// Tang Console 138K / GW5AST-LV138PG484AC1/I0
// Separate AE350-hardcore bring-up project.

IO_LOC "clk_50mhz" V22;
IO_PORT "clk_50mhz" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "reset_n" F4;
IO_PORT "reset_n" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

// Debug UART on the Tang Console USB/UART bridge.
IO_LOC "uart_tx" U15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_rx" V14;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// AE350 debug JTAG on the eight-pin debug connector. TRST is not routed and
// is held inactive inside the top-level RTL.
IO_LOC "jtag_tms" T13;
IO_PORT "jtag_tms" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "jtag_tck" V12;
IO_PORT "jtag_tck" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "jtag_tdi" R13;
IO_PORT "jtag_tdi" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "jtag_tdo" U13;
IO_PORT "jtag_tdo" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// Shared 8-MiB MSPI NOR. The project enables use_mspi_as_gpio.
IO_LOC "flash_cs_n" T19;
IO_PORT "flash_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "flash_clk" L12;
IO_PORT "flash_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "flash_mosi" P22;
IO_PORT "flash_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "flash_miso" R22;
IO_PORT "flash_miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "flash_wp_n" P21;
IO_PORT "flash_wp_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "flash_hold_n" R21;
IO_PORT "flash_hold_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// AE350 embedded DDR3 interface: lower x16 device only.
IO_LOC "ddr3_bank[2]" M6;
IO_PORT "ddr3_bank[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_bank[1]" P2;
IO_PORT "ddr3_bank[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_bank[0]" P5;
IO_PORT "ddr3_bank[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC "ddr3_addr[13]" K1;
IO_PORT "ddr3_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[12]" K4;
IO_PORT "ddr3_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[11]" H3;
IO_PORT "ddr3_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[10]" L1;
IO_PORT "ddr3_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[9]" H5;
IO_PORT "ddr3_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[8]" J5;
IO_PORT "ddr3_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[7]" J1;
IO_PORT "ddr3_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[6]" G3;
IO_PORT "ddr3_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[5]" H2;
IO_PORT "ddr3_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[4]" J2;
IO_PORT "ddr3_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[3]" J4;
IO_PORT "ddr3_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[2]" G2;
IO_PORT "ddr3_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[1]" K2;
IO_PORT "ddr3_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_addr[0]" M1;
IO_PORT "ddr3_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC "ddr3_odt" M2;
IO_PORT "ddr3_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_cke" K6;
IO_PORT "ddr3_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_we_n" M5;
IO_PORT "ddr3_we_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_cas_n" L4;
IO_PORT "ddr3_cas_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_ras_n" L5;
IO_PORT "ddr3_ras_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_cs_n" P4;
IO_PORT "ddr3_cs_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_reset_n" L6;
IO_PORT "ddr3_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_ck" L3,K3;
IO_PORT "ddr3_ck" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC "ddr3_dm[1]" V7;
IO_PORT "ddr3_dm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dm[0]" AA4;
IO_PORT "ddr3_dm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC "ddr3_dq[15]" Y9;
IO_PORT "ddr3_dq[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[14]" AB6;
IO_PORT "ddr3_dq[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[13]" W9;
IO_PORT "ddr3_dq[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[12]" AB8;
IO_PORT "ddr3_dq[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[11]" Y7;
IO_PORT "ddr3_dq[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[10]" AB7;
IO_PORT "ddr3_dq[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[9]" Y8;
IO_PORT "ddr3_dq[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[8]" AA8;
IO_PORT "ddr3_dq[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[7]" AB1;
IO_PORT "ddr3_dq[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[6]" AB5;
IO_PORT "ddr3_dq[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[5]" AB2;
IO_PORT "ddr3_dq[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[4]" AA1;
IO_PORT "ddr3_dq[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[3]" V4;
IO_PORT "ddr3_dq[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[2]" AA5;
IO_PORT "ddr3_dq[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[1]" AB3;
IO_PORT "ddr3_dq[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dq[0]" Y4;
IO_PORT "ddr3_dq[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC "ddr3_dqs[1]" V9,V8;
IO_PORT "ddr3_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr3_dqs[0]" Y3,AA3;
IO_PORT "ddr3_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

// Hard block locations required by the AE350 reference design and the
// hardware-proven Tang Console DDR3 placement.
INS_LOC "u_Gowin_PLL_AE350/u_pll/PLL_inst" PLL_R[0];
INS_LOC "u_Gowin_PLL_DDR3/u_pll/PLL_inst" PLL_L[0];
INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_ddr3_top/u_ddr3_memory_ahb_top/u_ddr3/gw3_top/u_ddr_phy_top/u_dll" DDRDLLM_BL;
INS_LOC "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_ddr3_top/u_ddr3_memory_ahb_top/u_ddr3/gw3_top/u_ddr_phy_top/fclkdiv" LEFTSIDE[4];
SET_PARAM "u_RiscV_AE350_SOC_Top/u_RiscV_AE350_SOC/u_riscv_ae350_ddr3_top/u_ddr3_memory_ahb_top/u_ddr3/gw3_top/u_ddr_phy_top/u_dll" CLKIN_SEL=CLKIN5;
